/* Contêiner principal */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-image: linear-gradient(320deg, #030303b0 ,#272727b0 ,#4e4d4db0 ,#6d6d6db0, #969696b0);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100px;
    margin: 0;
    text-align: center;
}

h1 {
    color: rgb(0, 0, 0);
}

.ga {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 25px;
    justify-items: center; 
    align-items: center; 
}

.ga a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none; 
    color: inherit; 
}

.ga span {
    font-size: 1.43em;
    color: #000;
    margin-bottom: 3px; 
}

.ga img {
    display: block;
    border-radius: 7.8px;
    box-shadow: 10px 7px 15px #242b38;
    box-sizing: border-box;
    border: 3px double black;
    min-width: 350px;
    width: 550px;
    height: auto; 
}

.ga img:hover {
    box-shadow: 10px 7px 60px #2f3135da;
    transform: scale(1.03);
    transition: transform 0.3s ease;
}

.bck:hover {
    transform: scale(1.15);
    transition: transform 0.3s ease-in-out;
}

.cursos {
    background-color: #4e4d4db0;
    border: 3px double black;
    width: 750px;
    border-radius: 8px;
    max-width: 835px;
    margin: 15px;
    padding: -5px;
    position: relative;
    overflow: hidden; 
    aspect-ratio: 16 / 9;
}

.cursos iframe {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: none;
}

@media only screen and (max-width: 768px) {
    .ga {
        grid-template-columns: 1fr;
    }

    .ga img {
        max-width: 350px; 
    }
    .cursos{
        max-width: 350px;
    }
}
